 //颜色定义规范

 $color-background: #f5f6fa;
 $color-background-d: #32353a;

 $color-363d47: #363d47;
 $color-blue: #12b2fa;

 $font-color-fade: #a4a9b6;
 $font-color-dark-highlight: #ffffff;


 //字体规范

 $fz-default: 16px;

 $fz-sm: 0.9em;
 $fz-xs: 0.75em;
